nav{
    height: 20vh;
    @media (max-width: 550px) {
        height: 10vh;
        .logo{
            width: 60%;
        }
    }
    header{
        color: rgba(255, 255, 255, 0.925);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        height: 100%;
        margin: auto;
        .nav-links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 20%;
            @media (max-width: 1100px) {
                min-width: 50%;
                gap: 2rem;
              }
            @media (max-width: 500px) {
                display: none;
              }
            Link, .link{
                color: rgba(255, 255, 255, 0.808);   
            }
        }
        @media (max-width: 1500px) {
            width: 90%;
        }
    }
}