.popup-container{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 10;
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    .popup{
        position: relative;
        .close{
            position: absolute;
            top: 4%;
            right: 5%;
            cursor: pointer;
        }
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        background-color: #19191B;
        padding: 10rem;
        border-radius: 25px;
        .form-img{
            img{
                border-radius: 25px;
            }
        }
        .form-container{
            max-width: 50rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 2rem;
        }
        form{
            max-width: 50rem;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 4rem;
            label{
                display: flex;
                flex-direction: column;
            }
            input{
                margin-top: 1rem;
                width: 35rem;
                border: 1px solid rgba(0, 0, 0, 0.2);
                outline: none;
                border-radius: 5px;
                height: 4rem;
                padding: 1rem 2rem;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 1.4rem;
                color: #1f1f1f;
                letter-spacing: 0.2px;
                line-height: 2rem;
                
                
            }::placeholder{
                color: #737373;
                font-weight: 400;
            }
        }
        @media (max-width: 1550px) {
            gap: 5rem;
            padding: 10rem;
            .form-img{
                max-width: 50%;
                img{
                    width: 100%;
                }
            }
        }
        @media (max-width: 1000px) {
            .form-img{
                display: none;
            }
            form, .form-container, label{
                width: 100%;
                input{
                    width: 100%;
                }
            }
        }
        
        @media (max-width: 600px) {
            padding: 3rem;
        }
    }
}